@model DepManager.Models.ProjectIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            项目负责人
        </th>
        <th>
            项目名称
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Projects.ToList()) {
        string selectedRow = "";
        if (item.ProjectID == ViewBag.ProjectID)
        {
            selectedRow = "success";
        }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(m => item.ProjectManager.FullName)
        </td>
        <td>
            @Html.DisplayFor(m => item.ProjectName)
        </td>
        <td>
            @Html.ActionLink("简报", "Index", new { id = item.ProjectID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>

@if (Model.PBriefs != null)
{
    <h3>项目简报</h3>
    <table class="table">
        <tr>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>计划</th>
            <th>实际执行</th>
            <th>是否完成</th>
        </tr>

        @foreach (var item in Model.PBriefs)
        {

            <tr>
                <td>
                    @item.StartTime.ToShortDateString()
                </td>
                <td>
                    @item.EndTime.ToShortDateString()
                </td>
                <td>
                    @item.Plan
                </td>
                <td>
                    @item.Action
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>

            </tr>
        }

    </table>
}
