@model DepManager.Models.TaskJobIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            项目负责人
        </th>
        <th>
            工作任务
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TaskJobs.ToList())
{
    string selectedRow = "";
    if (item.TaskID == ViewBag.TaskID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.ProjectManager.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskName)
        </td>
        <td>
            @Html.ActionLink("简报", "Index", new { id = item.TaskID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
        </td>
    </tr>
}

</table>

@if (Model.TBriefs != null)
{
    <h3>项目简报</h3>
    <table class="table">
        <tr>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>计划</th>
            <th>实际执行</th>
            <th>是否完成</th>
        </tr>

        @foreach (var item in Model.TBriefs)
        {

            <tr>
                <td>
                    @item.StartTime.ToShortDateString()
                </td>
                <td>
                    @item.EndTime.ToShortDateString()
                </td>
                <td>
                    @item.Plan
                </td>
                <td>
                    @item.Action
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
            </tr>
        }

    </table>
}

